<div id="<%= dom_id article %>">
    <p class="card-header text-danger">
      <strong>Title:</strong>
      <%= article.title %>
    </p>

    <p class="card-body">
      <strong>Content:</strong>
      <%= article.content %>
    </p>

    <p class="card-footer">
      <strong>Published:</strong>
      <%= article.published %>
    </p>
</div>
