<h1>Editing article</h1>

<div class="container">
<div class="card col-12 col-md-4">
  <%= render "form", article: @article %>
  <br>

  <div class="card-footer">
    <%= link_to "Show this article", @article %> |
    <%= link_to "Back to articles", articles_path %>
  </div>
</div>
</div>
